# ---------------- #
#   Main Configs   #
# ---------------- #
baseurl:
url: http://1024Java.zhipsoft.com
date_format: "ordinal"
title: 1024Java
subtitle: "1024Java.ZhipSoft.com"
description: "1024Java.ZhipSoft.com"
keywords: 1024Java, ZhipSoft, 志鹏, 志鹏软件
timezone: Asia/Shanghai
encoding: "utf-8"
side_bar_repo_limit: 5

# ---------------- #
#      Author      #
# ---------------- #
author: ZhipSoft
organization: 1024Java.ZhipSoft.com
organization_url: http://1024Java.zhipsoft.com
github_username: ZhipSoft
location: Xi'an, China
email: zhipsoft@163.com

# ---------------- #
#    Navigation    #
# ---------------- #
navs:
  -
    href: /
    label: 首页

  -
    href: /categories/
    label: 分类

  -
    href: /wiki/
    label: 维基

  -
    href: /links/
    label: 链接

  -
    href: /about/
    label: 关于

# ---------------- #
#       RSS        #
# ---------------- #
subscribe_rss: /feed.xml

# ---------------- #
#      Jekyll      #
# ---------------- #
markdown: kramdown
kramdown:
    input: GFM
highlighter: rouge
paginate: 8
lsi: false
quiet: false
excerpt_separator: "\n\n"
permalink: /:year/:month/:day/:title/
gems:
    - jekyll-github-metadata
    - rouge
#     - jekyll-html-pipeline
    - jekyll-paginate
    - jekyll-sitemap
    - jekyll-feed
    - jemoji
#     - jekyll-mentions
collections:
    wiki:
        output: true
        permalink: /wiki/:path/

repository: zhipsoft/zhipsoft.github.io

# ---------------- #
#      Comments    #
# ---------------- #
# support provider: disqus, gitment, gitalk
comments_provider: gitalk
# !!!重要!!! 请修改下面这些信息为你自己申请的
# !!!Important!!! Please modify infos below to yours
# https://disqus.com
disqus:
    username: 
# https://imsun.net/posts/gitment-introduction/
gitment:
    owner: zhipsoft
    repo: blog-comments
    oauth:
        client_id: de695a3eb72653833c20
        client_secret: d2bd726f12cc065df57d1c97ed6ce24bfbda32be
# https://github.com/gitalk/gitalk#install
gitalk:
    owner: zhipsoft
    repo: blog-comments
    clientID: de695a3eb72653833c20
    clientSecret: d2bd726f12cc065df57d1c97ed6ce24bfbda32be
# 在使用其它评论组件时可点击显示 Disqus
lazy_load_disqus : false

# ---------------- #
#    Analytics     #
# ---------------- #
#google:
#    analytics_id: UA-80669434-1
